.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  border-radius: 20px;
  &:hover {
    background: $color_accent;
    color: #fff;
    .icon {
      fill: #fff;
    }
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 2px;
  }
}
