.product {
  @extend .item-block;
  &__card {
    height: 300px;
    padding: 20px;
    position: relative;
    border-radius: 12px;
    background: #fff;
  }
  &__panel {
    display: flex;
  }
  &__act {
    height: 40px;
    min-width: 32px;
    padding: 0 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    cursor: pointer;
    svg {
      margin: 4px;
    }
    span {
      display: none;
      margin-right: 14px;
    }
    &:hover {
      background: $color_orange;
      color: #fff;
      span {
        display: block;
      }
    }
    &:hover svg {
      fill: #fff;
    }
    &--active {
      background: $color_orange;
      svg {
        fill: #fff;
      }
    }
  }
  &__info {
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__info-item {
    svg {
      fill: $color_orange;
    }
  }
  &__img {
    text-align: center;
  }
  &__name {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
  &__old-price {
    font-size: 12px;
    line-height: 17px;
    margin-top: 4px;
    color: $color_gray;
    text-decoration: line-through;
  }
  &__price {
    font-size: 20px;
    line-height: 29px;
  }
  &__bonus {
    font-size: 12px;
    line-height: 17px;
    color: $color_orange;
    font-weight: bold;
  }
  &__cart {
    background: $color_accent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    svg {
      fill: #fff;
    }
    &:hover {
      background: $color_orange;
    }
  }
}
