.modal {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.5s;
  background: $color_bg;
  &--open {
    transform: none;
  }
  &__close {
    cursor: pointer;
    position: fixed;
    top: 28px;
    right: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background: transparent;
    &:hover {
      background-color: transparent;
    }
    svg {
      width: 50px;
      height: 50px;
    }
  }
  .app-panel__phone {
    display: none;
    margin: 0 15px;
  }
}

@media (max-width: 992px) {
  .modal {
    &__close {
      position: relative;
      top: 0;
      right: 0;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (max-width: 576px) {
  .modal {
    .app-panel__phone {
      display: flex;
    }
    &__close {
      svg {
        width: 26px;
        height: 26px;
      }
    }
  }
}
